.block1 {
	margin: 0 auto;
	max-width: 1190px;
	overflow:hidden;
	padding: 25px 15px 75px;
	}

.for_block1 {
	width: 33.33%;
	float: left;
	}

.content_block1 {
	margin-left: 120px;
	margin-top: 20px;
	a {
		font-size: 13px;
		&:hover span {
			color: #248cec;
		}
		&:hover i {
			color: #8a8a8a;
			margin-left: 15px;
		}
		img{
			padding-left: 10px;
		}
	}
	span {
		color: #2a2b2e;
		transition: 0.3s;
		padding-right: 10px;
	}
	i {
		margin-left: 7;
		vertical-align: middle;
		color: #248cec;
		transition: 0.3s;
	}
}

.number {
	font-family: 'Ubuntu';
	font-weight: 500;
	color: #e9e9ea;
	font-size: 90px;
	width: 90px;
	float: left;
	}

.content_block1_title {
	font-family: 'Ubuntu';
	font-size: 20px;
	margin-top: 19px;
}

.content_block1_text {
	font-family: Arial;
	font-size: 13px;
	margin-top: 27px;
	margin-left: 0px;
	width: 238px;
	color: #8a8a8a;
	margin-bottom: 28px;
}

@media(max-width: 1200px) {
	.block1{
		padding: 15px 15px 30px;
	}
	.number {
	   font-size: 45px;
	   width: 50px;
	}
	.content_block1 {
	   margin-left: 65px;
	   margin-top: 15px;
	}
}

@media(max-width: 1023px) {
	.for_block1 {
		width: 100%;
		max-width: 355px;
		margin: 0 auto 50px;
		float: none;
	}
}
